.header{
    
    padding-left: 450px;
    padding-top: 10px;
    
    background-color:#6a44fd;
    color: white;
    
}
.header-inside{
    border-radius: 10px;
    padding:10px;
    text-align: center;
    width: 500px;
    background-color: white;
    color: black;
   
}
.header-inside h1{
    background-color: #e52d67;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.header-inside h2{
    background-color: #e52d67;
    padding: 5px;
    border-radius: 10px;
    color: white;
}