.add-main {
        display: flex;
        
        padding: 8px;
        border-radius: 10px;
        background-color: white;
        color: black;
        margin-top: 15px;
        margin-left: 12px;
        margin-right: 15px;
    
}

.add-right{
    text-align: center;
    padding-left: 20px;
    padding-top: 15px;
    height: 85px;
}
.add-right h3{
margin: 0;
padding: 0;
}
.add-left img{
    border-radius:7px ;
    padding-top: 3px;
    }